body {
    overflow: hidden;
    display: none;
}
.hidden {
    display: none;
}

#audio_area div video {
    display: none;
}

#preloader img {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#preloader p {
    text-align: center;
}

#add_user_btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-radius: 25px !important;
}

#chats_add_btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-radius: 25px !important;
}

.ui-icon-plus {
    width: 48px;
    height: 48px;
}

#roster_area {
    position:relative;
    padding: 0;
    display: block;
    overflow-y: auto;
}

/* contact conatiner */
#roster_area div {
}

#roster_area div ul {
    padding-left: 15px;
    list-style-type: none;
    margin-bottom: 0;
}

/* status circle */
#roster_area div ul li div{
    margin-left: 0px;
    margin-right: 5px;
    display: inline-block;
}

/* name */
#roster_area div ul li p{
    display: inline-block;
}

.jid_address {
    padding-left: 50px;
    color: #8c8c8c;
    margin-bottom: 10px !important;
}

.contact_name {
    font-weight: bold;
    margin-left: 50px !important;
}

#roster_area p{
    margin: 0;
}

.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*
 * Circles for status indication
 */
.status_circle_online {
    position: absolute;
    left: 40px;
    margin-top: 25px;
    display: inline-block;
    margin-right: -8px;
    width: 12px;
    height: 12px;
    background: #4caf50;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.status_circle_call {
    position: absolute;
    left: 40px;
    margin-top: 25px;
    display: inline-block;
    margin-right: -8px;
    width: 12px;
    height: 12px;
    background: #3f51b5;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.status_circle_offline {
    position: absolute;
    left: 40px;
    margin-top: 25px;
    display: inline-block;
    margin-right: -8px;
    width: 10px;
    height: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    border: solid 1px #fafafa;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.status_circle_busy {
    position: absolute;
    left: 40px;
    margin-top: 25px;
    display: inline-block;
    margin-right: -8px;
    width: 12px;
    height: 12px;
    background: #f44346;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.status_circle_away {
    position: absolute;
    left: 40px;
    margin-top: 25px;
    display: inline-block;
    margin-right: -8px;
    width: 12px;
    height: 12px;
    background: #ffeb3b;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.status_circle_xa {
    position: absolute;
    left: 40px;
    margin-top: 25px;
    display: inline-block;
    margin-right: -8px;
    width: 12px;
    height: 12px;
    background: #ffc107;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ui-toolbar-back-btn {
    margin-top: 5px !important;
}

.add_dialog {
    padding-left: 10px;
    padding-right: 10px;
}

.contact_bar a {
    margin-right: 16px;
    float: right;
}

.contact_bar h3 {
    margin: 16px;
}

.contact_bar {
    padding: 0;
}

.chat_main {
    overflow-y: hidden !important;
    height: calc(99vh - 45px);
}

.local_msg {
    max-width: 75%;
    background-color: #b3e6ff;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    float: right;
    clear: both;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    word-wrap: break-word;
}

.remote_msg {
    max-width: 75%;
    background-color: #f2f2f2;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    float: left;
    clear: both;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    word-wrap: break-word;
}

.text_input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    border-top: 1px solid #adadad;
}

.text_input textarea {
    height: 80px;
    overflow-y: scroll !important;
    resize: none;
    padding: 12px;
    padding-right: 84px;
    border: none;
    width: calc(100vw - 80px);
}
.text_input textarea:focus {
    outline: none;
}

.main_chat {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 110px;
    right: 0;
    left: 0;
    padding: 10px;
}

.send_btn {
    position: absolute;
    bottom: 52px;
    right: 18px;
}

.add_file_btn {
    position: absolute;
    bottom: 6px;
    right: 18px;
}

#chat_area {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 42px;
}

.chats_category_title {
    margin: 0;
    padding: 16px;
    background: rgba(238, 238, 238, 0.75);
    border-bottom: 1px solid rgb(218, 218, 218);
}

.ongoing_chat p {
    margin: 0;
    padding-bottom: 16px;
    color: #8c8c8c;
}

.ongoing_chat h3 {
    padding-top: 10px;
    margin: 0;
}

.last_msg {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8c8c8c;
    padding-bottom: 10px;
}

.search_box {
    width: calc(100vw - 20px);
    border: none;
    padding: 10px;
    border-bottom: 1px solid #dadada;
}

.search_result {
    padding: 16px;
    border-bottom: 1px solid #dadada;
    background: #FBFBFB;
}

.search_result_name {
    font-weight: bold;
}

.accept_dialog {
}

.local_message {
}

.remote_message {
}

.user_menu {
}

#video {
    background: black;
}

#local_video {
    text-align: center;
    max-height: 10vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

#local_video video {
    max-height: 10vh;
}

#remote_videos {
    text-align: center;
    max-height: 40vh;
}

#remote_videos video {
    width: 100%;
    max-height: 40vh;
}

#video_hang {
    width: 130px;
    background-color: #f44336;
    color: #fafafa;
    border-color: #f44336;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-accept {
    color: #fafafa !important;
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
}

.btn-decline {
    color: #fafafa !important;
    background-color: #f44336 !important;
    border-color: #f44336 !important;
}

#outgoing_audio_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#end_audio_call {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

#audio_call_jid {
    text-align: center;
}

#audio_call_jid_o {
    text-align: center;
}

#call_info p{
    text-align: center;
}

#incoming_call_icon {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

#incoming_call_ctrl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#incoming_call_ctrl button {
    display: inline;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
}

.video_call_icon {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#incoming_video_call_ctrl {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    text-align: center;
}

#video_call_jid {
    text-align: center;
}

#decline_video_call, #accept_video_call {
    width: 120px;
    display: inline;
    margin: 10px;
}

#video_call_jid_o {
    text-align: center;
}

#end_video_call {
    margin: auto;
    width: 130px;
}

.center {
    text-align: center;
}

#request_ctrl {
    text-align: center;
}

#send_request, #cancel_request {
    display: inline-block;
    width: 150px;
    margin: 10px;
}

.contact_menu {
    float: right;
    margin-right: 15px !important;
}

.contact_menu img {
    width: 30px;
    opacity: 0.3;
    margin-top: 6px;
}

.contact_menu_item {
    margin-left: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#requests_area {
    padding-top: 0;
    padding-bottom: 0;
}

#requests_area_title {
    color: #8c8c8c;
    margin-top: 10px;
    margin-left: 15px;
}

#requests_area div p {
    display: inline-block;
    color: #424242;
    font-weight: bold;
}

#requests_area button {
    display: inline-block;
    margin-right: 10px;
    float: right;
}

.input_h {
    display: none;
}

#hidden_settings {
    display: none;
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    left: 15px;
    right: 15px;
    top: 260px;
}

#checkbox_turn {
    margin-top: -20px;
}

#checkbox_turn input {
    margin-top: -2px;
}

#checkbox_turn p {
    margin-left: 40px;
    margin-right: auto;
    width: 200px;
    margin-top: 0;
}

#checkbox_log input {
    margin-top: 0px;
}

#checkbox_log p {
    margin-left: 40px;
    margin-right: auto;
    width: 200px;
    margin-top: 0;
}

#connection_stats {
    width: 200px;
    top: 18px;
    left: 18px;
    text-shadow: none !important;
    margin: 0 auto;
}

#connection_stats p {
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 14px;
    color: white;
}

#connection_info_message {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 220px;
    height: 50px;
    margin-top: -25px;
    margin-left: -110px;
    text-shadow: none !important;
    text-align: center;
    background: rgba(29,29,29,0.50);
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}

#connection_info_message p {
    color: white;
    margin: 0;
}

.back_contact {
    position: fixed;
    left: 10px;
}

.contact_image {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.status_circle_chat {
    position: static !important;
    margin-left: 50px;
    margin-top: 0;
}

#preloader_contacts {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#preloader_contacts img {
    width: 40px;
}

progress {
    display: inherit;
}

#disconnect_page {
    text-align: center;
}


#editor {
    padding-top: 0;
}

.media_info {
    margin-left: 50px !important;
    font-size: 16px;
}

#toolbar {
    margin: 15px;
    border: 1px solid #DDD;
    border-left: 0;
    border-right: 0;
}

#editor_container {
    padding: 0;
}

#text_editor {
    background: white;
}

.text-edit-back {
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 3;
}

#editor_log_name {
    font-size: 18px;
    margin: 15px;
    color: #555;
}

#editor_call_audio {
    padding-left: 15px;
    font-style: italic;
    color: #777;
}

.mini-hang-up {
    display: inline;
    background: rgba(255, 0, 0, 0.75);
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    text-shadow: none;
    color: white;
    font-weight: bold;
    font-style: normal;
    white-space: nowrap;
    margin-left: 10px;
}

.mini-hang-up:hover {
    background: rgba(255, 0, 0, 0.50);
}

.mini-hang-up:active {
    background: rgba(255, 0, 0, 0.30);
}

.text_editor_call {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 2;
    display: none;
}

#editor_save {
    height: 25px;
    position: absolute;
    right: 55px;
    top: 15px;
    z-index: 3;
}

.editor-msg-banner {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: #ddd;
    left: 0;
    right: 0;
    text-align: center;
}

#editor_video_container {
    text-align: center;
}

#editor_video_container video {
    max-height: 120px;
    margin-top: 60px;
    max-width: 120px;
    margin-bottom: 15px;
}

#editor_video_control {
    text-align: center;
}

.fa {
    margin-right: 10px;
    color: #424242;
}

.warning_banner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgb(253, 216, 100);
    z-index: 1;
    border-top: 1px solid #ADADAD;
    text-shadow: none;
    font-size: 14px;
}

.chat-content {
    position: relative;
    padding: 0;
    height: calc(100vh - 52px);
    overflow: hidden !important;
}

#contacts_search_results {
    height: calc(100vh - 84px);
    overflow-y: auto;
}

#room_creation {
    padding: 16px;
}

#room_creation_instructions h3 {
    margin-bottom: 0;
}

#room_creation_instructions p {
    margin-top: 4px;
}

#create_room_dialog_btn {
    height: auto;
    display: inline;
    width: 48%;
}

#cancel_create_room_dialog_btn {
    height: auto;
    display: inline;
    width: 48%;
    float: right;
}

#add_invitation_btn {
    margin-bottom: 16px;
}

.invitation_selected {
    background: #38c;
    text-shadow: none;
    color: #fbfbfb;
}

#invitation_search_results {
    height: calc(100vh - 162px);
    overflow-y: auto;
}

#add_invitation_search_results {
    height: calc(100vh - 162px);
    overflow-y: auto;
}

.confirm_selected_container {
    margin: 16px;
}

.room_invitations_entry {
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.inv_remove {
    float: right;
}

.muc_main {
    height: calc(100vh - 45px);
}

.muc_message {
    padding: 16px;
    background-color: white;
    border-bottom: 1px solid #dadada;
}

.muc_message p {
    margin: 0;
}

.muc_timestamp {
    color: #757575;
}

.muc_sender {
    font-weight: bold;
}

.muc_textarea {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: calc(100vw - 77px);
    height: 80px;
    resize: none;
    border: none;
    background-color: white;
    padding: 16px;
    padding-right: 93px;
    overflow-y: scroll;
    border-top: 1px solid #dadada;
}

.muc_messages_container {
    height: calc(100vh - 157px);
    overflow-y: scroll;
}
.muc_input_overlay {
    background-color: white;
    height: 112px;
    width: 45px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
}

.send_muc_msg {
    position: absolute;
    bottom: 58px;
    right: 5px;
    z-index: 3;
}

#rooms_area {
    padding: 0;
}

.muc_room_entry {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 42px;
    font-weight: bold;
    border-bottom: 1px solid #dadada;
    padding-right: 16px; 
}

.muc_unread {
    margin-right: 16px;
    border-radius: 10px;
    font-size: 1em;
    display: inline;
    float: right;
    margin-top: -2px;
    background-color: #38c;
    padding: 2px 5px 2px 5px;
    color: white;
    text-shadow: none;
}

.muc_invitation {
    background: #c8e6c9;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    float: right;
    clear: both;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    word-wrap: break-word;    
}

.muc_acc_invitation {
    width: 48% !important;
    display: inline;
}

.muc_cancel_invitation {
    float: right;
    width: 48% !important;
    display: inline;
}

.muc_remove_room {
    margin-top: -4px;
    font-size: 20px;
    display: inline;
    float: right;
}

.muc_entry_name {
    max-width: 60%;
    display: inline-block;
    word-break: break-word;
}

.invite_additional_muc {
    width: 30px;
    height: 30px;
}

.settings_muc {
}

.muc_header_title {
}

#muc_settings_main {
    overflow-y: auto;
    height: calc(100vh - 77px);
    padding: 16px;
}

.muc_own_message {
    background-color: #F1F1F1;
}

#muc_conference_ctrl_container {
    background-color: #f1f1f1;
    position: absolute;
    font-size: 18px;
    bottom: 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid #dadada;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
}

.muc_hang_up_bg {
    color: #f44336;
}

.muc_media_ctrl_btn {
    margin-right: 5px;
}

.muc_header {
}

.muc_room_actions {
    display: inline;
    float: right;
}

.muc_room_actions a {
    margin-left: 10px !important;
}

.muc_notification_area {
    background: #A5D6A7;
    overflow: hidden;
}

.muc_not_text {
    text-shadow: none;
    float: left;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 5px;
}

.muc_not_btn {
    display: inline;
    margin-right: 5px;
    float: right;
}

#muc_local_video {
    width: 40px;
    height: 40px;
    background-color: black;
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    margin-left: -40px;
    text-align: center;
    overflow: hidden;
}

#muc_local_video video {
    position: relative;
    left: 100%;
    margin-left: -200%;
    height: 100%;
}

#muc_conference_media_container {
    height: calc(100vh - 68px);
    overflow: auto;
    text-align:center;
}

#muc_conference_media_container video {
    display: inline;
    width: 33.3%;
    max-height: 50%;
}
